/*google font*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.card img {
  height: 50%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card {
  background-color: #8686ac;
  width: 250px;
  color: rgb(255, 255, 255);
  transition: all 0.30s ease-in-out;
  margin-bottom: 25px;
  /* height: 350%; */
  border-radius: 10px;
  box-shadow: #d3b47a 0px 0px 20px 0px;
  border: 2px solid #4d4da1;
  background-image: linear-gradient(43deg, #4158D0 0%, #894e85 46%);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 30px #1c1c41;
}

.card p {
  /* top right bottom right */
  padding: 0px 10px 10px 10px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.card h3 {
    padding-top: 10px;
}