/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
  background-color: #505081;
  color: white;
  font-family: "Open Sans", sans-serif;
  /* padding: 0%; */
  margin: 0;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: black;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 30px;
}

p {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  padding-bottom: 30px;
}

.welcome {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;    
}