@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* makes a grid with flex properties */
.nowPlaying_grid {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
