header {
  
  background-image: url('assets/react_header.png') ;
  background-position: left;
  background-repeat: no-repeat;
  height: 360px;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  padding: 70px 0px 0px  0px;

}

header p {
  text-align: center;
  padding-top: 0px

}